/* LAYOUT AND GRID SYSTEM
--------------------------------------------------------------- */

@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap');

#blur {
  transition: all 0.25s ease-out;
}

.blur {
  filter: blur(3px);
}

a {
  transition-delay: 0s !important;
}

#header {
  z-index: 999999;
  display: block;
  will-change: width, height;
}

a {
  transition: none !important;
  transition-duration: 0s !important;
}

.move-down {
  margin-bottom: -36px;
  padding-bottom: 36px;
}

a.no-styling {
  text-decoration: none;
}

button a:hover {
  color: inherit !important;
}

* {
  box-sizing: border-box;
}

:root {
  --space-none: 0;
  --space-xxs: 8px;
  --space-xs: 16px;
  --space-sm: 24px;
  --space-md: 32px;
  --space-lg: 48px;
  --space-xl: 64px;
  --space-xxl: 72px;
}

section {
  margin-bottom: -7px;
}

body {
  width: 100%;
  margin: 0;
  padding: 0;
  background: #f7f7f7;
}

html {
  box-sizing: border-box;
  /* scroll-behavior: smooth; */
  width: 100%;
  background: #f7f7f7;
}

.container,
.container-xs {
  width: 100%;
  margin: 0 auto;
  padding-left: 16px;
  padding-right: 16px;
  padding: 60px 12px;
}
.container.self {
  /* width: calc(90% - 24px) !important; */
  margin: 0 auto;
  margin-left: 24px;
  padding: 0;
  width: calc(100% - 48px);
  padding-right: 24px;
}
@media (min-width: 481px) {
  .container,
  .container-xs {
    padding-left: 24px;
    padding-right: 24px;
  }
}
.container {
  max-width: 1300px;
}
.container-xs {
  max-width: 668px;
}
[class*='container'] .container-xs {
  max-width: 620px;
}

@media (min-width: 769px) {
  .container {
    padding-left: 48px;
    padding-right: 48px;
  }
  .container.self {
    /* width: calc(90% - 24px) !important; */
    margin: 0 auto;
    margin-left: 48px;
    padding: 0;
    width: calc(100% - 96px);
    padding-right: calc(100vw * 0.1);
  }
}

@media (min-width: 1300px) {
  .container.self {
    margin: 0 auto;
    width: 100%;
    padding: 0px 48px;
    padding-right: calc(100vw * 0.25);
  }
}

/* TYPOGRAPHY
---------------------------------------- */

.str0 {
  stroke: white;
  stroke-width: 60.67;
  stroke-miterlimit: 2.61313;
}
.str0.scrolled {
  stroke: #b4267c !important;
}
.fil0 {
  fill: url(#id0);
}

.full-width {
  width: 100% !important;
}

.inline-block {
  display: inline-block !important;
}

.center {
  text-align: center;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.m-none {
  margin: 0;
}

.mx-none {
  margin-left: 0;
  margin-right: 0;
}

.my-none {
  margin-top: 0;
  margin-bottom: 0;
}

.mt-none {
  margin-top: 0;
}

.mb-none {
  margin-bottom: 0;
}

.ml-none {
  margin-left: 0;
}

.mr-none {
  margin-right: 0;
}

h1,
.h1 {
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  font-size: 2em;
}
h2,
.h2 {
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  font-size: 1.5em;
}
h3,
.h3 {
  margin-block-start: 1em;
  margin-block-end: 1em;
  font-size: 1.17em;
}
h4,
.h4 {
  margin-block-start: 1.33em;
  margin-block-end: 1.33em;
  font-size: 1em;
}
h5,
.h5 {
  margin-block-start: 1.67em;
  margin-block-end: 1.67em;
  font-size: 0.83em;
}
h6,
.h6 {
  margin-block-start: 2.33em;
  margin-block-end: 2.33em;
  font-size: 0.67em;
}

.left {
  margin-right: auto !important;
  display: block !important;
  width: fit-content !important;
}

.right {
  margin-left: auto !important;
  display: block !important;
  width: fit-content !important;
}

.center {
  margin-left: auto !important;
  margin-right: auto !important;
  display: block !important;
  width: fit-content !important;
}

.desktop,
.tablet {
  display: none !important;
}

@media (min-width: 769px) {
  .tablet {
    display: block !important;
  }
  .tablet.inline {
    display: inline !important;
  }
  .mobile,
  .desktop {
    display: none !important;
  }
}

@media (min-width: 960px) {
  .desktop {
    display: block !important;
  }
  .desktop.inline {
    display: inline !important;
  }
  .mobile,
  .tablet {
    display: none !important;
  }
}

.inline {
  display: inline;
}

.block {
  display: block;
}
